 
  .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
  bottom: 40px;
  right: 110px;
}
.selectBox select {
  width: 30%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
   position: relative;
   width: 30%;
    right: 110px;
    background-color: white;
    bottom: 43px;
}

#checkboxes label {
  display: block;
 
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
