.pagination

{
	position: relative;
	right: 200px;
	top: 80px;
}
.pagination a{
	text-decoration: none;
	font-size: 20px;
	margin: 20px;
	padding: 20px 25px;
	border-radius: 50%;
}
.pagination a:hover, a:nth-child(2){
	background-color: #cc66ff;
	color: white;
	transition: 200ms ease;
}