@font-face {
  font-family: 'Alex Brush';
  src: url('/fonts/AlexBrush/AlexBrush-Regular.ttf') ;
}

body
{
font-size: 13pt;
/*line-height: 1.75em;*/
/*letter-spacing: 0.025em;*/
/*font-size:1.5rem;*/
/* font-size:1.8rem;*/
 font-family:"Droid Arabic Kufi",serif;
/*font-weight: 400;*/

color: #919499;
}

h1 a ,h2 a
{color: #717479;

text-decoration: none;
}
a
{
text-decoration: none;
/*
text-decoration: underline;*/
/*color: #fff;*/
-moz-transition: color .25s ease-in-out;
-webkit-transition: color .25s ease-in-out;
-o-transition: color .25s ease-in-out;
-ms-transition: color .25s ease-in-out;
transition: color .25s ease-in-out;
}

a:hover
{color: #bd689e;
text-decoration: none;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/
.wrapper
{
padding: 6em 0 9em 0;
}
.wrapper .title
{
font-size: 0.9em;
width: 25em;
height: 3.25em;
top: -3.25em;
line-height: 3.25em;
margin-bottom: -3.25em;
margin-left: -12.5em;
padding-top: 0.5em;
}
#header-wrapper
{
padding: 0;
}
#intro-wrapper
{
padding-bottom: 8em;
}
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header
{
position: relative;
padding: 12em 0;
}
.homepage #header
{
padding: 18em 0;
}
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo
{
position: absolute;
height: 5em;
top: 40%;
left: 0;
width: 100%;
text-align: center;
margin-top: -0.5em;
font-family: 'Alex Brush';font-size: 22px;
font-size:40px ;
text-shadow: 4px 4px 4px #aaa;

}
/*.homepage #logo
{
margin-top: -1em;
}*/
#logo h1
{
font-size: 2em;
letter-spacing: 0.15em;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#nav
{
/*position: absolute;*/
display: block;
/*top: 2.5em;
left: 0;*/
width: 100%;
text-align: center;

position: relative; top : -250px;
right: 120px;
}

#nav > ul > li > ul
{
display: none;

}

#nav > ul
{
   
display: inline-block;
border-radius: 0.35em;
box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
/*padding: 0 12px 0 12px;*/
border: 1px solid #bd689e;
background-color: rgba(189,104,158,0.5);
}
#nav > ul > li
{
display: inline-block;
text-align: center;
padding: 0 1.5em 0 1.5em;

}
.glyphicon-log-out
{
  color:#eee;
}
#nav > ul > li > a,
#nav > ul > li > span
{
display: block;
color: #eee;
color: rgba(255,255,255,0.75);
text-transform: uppercase;
text-decoration: none;
line-height: 5em;
 font-size:17px;
/*letter-spacing: 0.25em;*/
height: 5em;

-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
outline: 0;


}

#nav > ul > li:hover > a,
#nav > ul > li.active > a,
#nav > ul > li.active > span
{
color: #717479;

}


/*nav1*/
.nav1
{
/*position: absolute;*/
display: block;
/*top: 2.5em;
left: 0;*/
/*width: 100%;*/
text-align: center;
/*background-color: black;*/
position: relative;

  top : -250px;

}

.nav1 > ul > li > ul
{
display: none;

}

.nav1 > ul
{
   
display: inline-block;
border-radius: 0.35em;
box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
padding: 0 1.5em 0 1.5em;
/*border: 1px solid #bd689e;*/
border: 1px solid #bd689e;
background-color: rgba(189,104,158,0.5);}

.nav1 > ul > li
{
display: inline-block;
text-align: center;
padding: 0 3px 0 3px;
float: right;
}

.nav1 > ul > li > a,
.nav1 > ul > li > span
{
display: block;
color: #eee;
color: rgba(255,255,255,0.75);
text-transform: uppercase;
text-decoration: none;
line-height: 5em;
 font-size:17px;
/*letter-spacing: 0.25em;*/
height: 5em;

-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
outline: 0;


}

.nav1 > ul > li:hover > a,
.nav1 > ul > li.active > a,
.nav1 > ul > li.active > span
{
color: #717479;

}
#nav2
{
/*position: absolute;*/
display: block;
/*top: 2.5em;
left: 0;*/
width: 100%;
text-align: center;

position: relative; top : -250px;
left: 220px;
}

#nav2 > ul > li > ul
{
display: none;

}

#nav2 > ul
{
   
display: inline-block;
border-radius: 0.35em;
box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
/*padding: 0 12px 0 12px;*/
border: 1px solid #bd689e;
background-color: rgba(189,104,158,0.5);
}
#nav2 > ul > li
{
display: inline-block;
text-align: center;
padding: 0 1.5em 0 1.5em;

}

#nav2 > ul > li > a,
#nav2 > ul > li > span
{
display: block;
color: #eee;
color: rgba(255,255,255,0.75);
text-transform: uppercase;
text-decoration: none;
line-height: 5em;
 font-size:17px;
/*letter-spacing: 0.25em;*/
height: 5em;

-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
outline: 0;


}

#nav2 > ul > li:hover > a,
#nav2 > ul > li.active > a,
#nav2 > ul > li.active > span
{
color: #717479;

}

.dropotron
{/*
background: #222835 url('images/overlay.png');*/
background-color:/*#bd689e; */rgba(189,104,158,0.7);
padding: 1.25em 1em 1.25em 1em;
border-radius: 0.35em;
box-shadow: inset 0px 0px 2px 2px rgba(255,255,255,0.25);
min-width: 12em;
text-align: right;
margin-top: -1.25em;
margin-left: -415px;

}

.dropotron.level-0
{
margin-top: -1px;
margin-left: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.dropotron a,
.dropotron span
{font-weight: 400;
font-size: 11pt;
display: block;
color: #eee;
color: rgba(255,255,255,0.75);
text-transform: uppercase;
text-decoration: none;

/*letter-spacing: 0.25em;*/
border-top: solid 1px rgba(255,255,255,0.15);
line-height: 3em;
-moz-transition: all .25s ease-in-out;
-webkit-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}

.dropotron li:first-child a,
.dropotron li:first-child span
{
border-top: 0;
}

.dropotron li:hover > a,
.dropotron li:hover > span
{
color: #717479;
}
/*start buttom*/
.btn-theme {
  border: 1px solid #9e9e9e;
 background-color:#9e9e9e;
  
  font-size:14px;
 font-family:"Droid Arabic Kufi",serif;
   color: #fff;
}
.btn-theme:hover
{
 /* color: #fff;*/
  background-color:#8a8a8a;
  border-color: #8a8a8a;
}
.btn-theme02 {
  color: black;
  /*background-color: #ac92ec;*/
  background-color: rgba(189,104,158,0.5);
   /*border: 1px solid #bd689e;*/
  /*border-color: #967adc;*/
}
.btn-theme02:hover,
.btn-theme02:focus,
.btn-theme02:active,
.btn-theme02.active,
.open .dropdown-toggle.btn-theme02 {
  /*color: #fff;*/
  background-color: rgba(189,104,158,0.5);
   border: 1px solid #bd689e;
  /*background-color: #bd689e;*/
 /* border-color: #967adc;*/
}
.btn-theme04 {
  color: black;
  
  background-color:#D0D0D0;
   
}
.btn-theme04:hover,
.btn-theme04:focus,
.btn-theme04:active,
.btn-theme04.active,
.open .dropdown-toggle.btn-theme04 {
  /*color: #fff;*/
  background-color:#D0D0D0;
   border: 1px solid #B0B0B0;
 
}
/*end buttom*/

/*start dress-box*/

.dress-box {
   background-color: #f3f4f8;
    border: 2px solid #C8C8C8;
    border-radius: 10px;
    margin: 10px ;
    margin-top:13px;

   /* padding: 5px 5px 5px;*/
    text-align: center;
height: 550px;
width: 220px;
position: relative;
  overflow: hidden;
  

}
.icn-main-container {
    position: relative;
    }
 #image{

border-radius:10px 10px 0 0;

  height:285px;
width: 218px;


}
 #image3{

border-radius:10px 10px 0 0;

  height:450px;
width: 400px;


}
   #image2{
 border-radius: 50%;

  height:50px;
width:50px;

}
.table th { font-size:14px; color: black;
  font-weight: 400; text-align: center; }
 .table tr { font-size:14px; color: #717479;
  text-align: center; }
.price { font-size: 14px; }
.size {  font-size: 14px; }
.name{color: #5a5a5a; /* font-size:1.5rem; */
font-weight: 600;}


.activity-panel {
    padding: 4px 20px;
    background: #ececec;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    text-align: center;
    color: #717479;
    font-size: 15px;

}
/*--------------nav customer--------------*/
.nav-tabs a {
    color: #2f2f2f;
}

/*--------------notes customer--------------*/

.task-content {
    margin-bottom: 30px;
}

.task-panel {
  background: #fff;
  text-align: right;
  box-shadow: 0px 3px 2px #e0e1e7;
  margin: 5px;
  font-size:15px;
 
}

.tasks-widget .task-content:after {
  clear: both;
    font-size:15px;

}



.tasks-widget  .task-list {
  padding:0;
  margin:0;
}

.tasks-widget .task-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #717479;
  list-style: none;
}

.tasks-widget .task-list  li.last-line {
  border-bottom:none;
}



.tasks-widget .task-list  li > .task-title  {
  overflow:hidden;
  margin-right:10px;

}


.tasks-widget .task-list  li .task-title .task-title-sp  {
  margin-right:10px;
  font-size:15px;
 color: black;

}


.tasks-widget .task-list  li:hover  {
  background:#ececec;
}


/*table customer*/
table.table-bordered > thead > tr > th{
  border:1px solid  #acacac;

   font-size:15px;
  text-align: center;
}

table.table-condensed > tbody > tr > td{
    font-size:13px;
   border:1px solid  #acacac;
}
/*modal*/
.modal-header {
  border: 1px solid #bd689e;
background-color: rgba(189,104,158,0.5);
   /* background: #E9967A;*/
}

.modal-title {
    color: black;
    text-align: center;
}
.modal-body{
  color: black;
}

/*image product view */
.myProducts img{
    height: 86px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .8;
   border: 1.5px solid #bd689e; 
}
   
.myProducts img:hover {
    opacity: 1;
}
 
.myProducts {
  
    transform: translate(-50% , -50%);
    position: absolute;
    margin-top:-440px;
   margin-right: 380px;

}

   

.img_producto_container {

  width:400px;
  height:580px;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  border: 2px solid #bd689e; 
}
.img_producto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out;
}
/*details product*/
.btn-compose {
     border: 1px solid #bd689e;
background-color: rgba(189,104,158,0.5);
    padding:12px 0;
    text-align:center;
    width:100%;
    color:black;
      font-size:18px;
}
.room-box {
    color: black;
    border: 3px solid #e0e1e7;
    background: #f7f8fa;
    padding: 8px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
     font-size:14px;
 font-family:"Droid Arabic Kufi",serif;

}

.box{
    
    color: black;
    border: 1.5px solid #bd689e;
    background: #f7f8fa;
  
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
     font-size:16px;


}
/*p.box {text-align: center;}
*/
.room-box:hover {
    background: #f0f0f0
}

.room-box h5 {
    margin: 0 0 5px 0;
    font-weight: 300;
    
     font-size:17px;
  color: #bd689e;
  padding: 8px 30px;
   background: #e0e1e7;

}
.room-box h5 a {
    color: #E9967A;
}
/*search*/


#custom-search-input{
  /*  margin-top:70px; */
   /*margin-left:200px;
*/
    padding: 3px;
   
    border-radius: 6px;
     border: 1px solid #9e9e9e;
    background: white;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
     font-size: 17px;
    font-family:"Droid Arabic Kufi",serif;
    background: white;
    width:95%;
float: right;
}

/*
#custom-search-input input:focus{outline: none;
border: 1px solid #9e9e9e;}*/


#custom-search-input .glyphicon-search{
    font-size: 18px;
    color: gray;
    margin-top: 2px;
    padding:3px;
}#custom-search-input .glyphicon-search:hover{
    font-size: 18px;
    color: black;
    padding:3px;
   
}


/*filter*/

select {
    font-size: 12px;
    padding: 2px 5px;
    color: #5a5d61;
}
#filtr h4 {
    color: #5a5d61;
    font-size: 16px;
    padding-right: 10px;
   /* font-weight: normal;*/

}

      

/*buttom upload img*/

.btn-light {
  color:  #717479;
   font-size: 15px;
   font-weight: 500;
   border: 1px solid #949494  ;
  border-radius: 4px;
}
.btn-light:hover
{ border-radius: 4px;
  border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;

}
input[type="file"]
{
  display: none;
}
.fileUpload input.upload 
{
    display: inline-block;
  

}
/*********************************************************************************/
/* input                                                                   */
/*********************************************************************************/



::placeholder,select,label,option { /* Most modern browsers support this now. */
   color:  #717479;
   font-size: 15px;
   font-weight: 500;
}
label{margin:5px;}
input,select{
  border: 1px solid #c6c6c6  ;
  border-radius: 4px;
}
input:focus, textarea:focus,select:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
input:focus::placeholder {
  color: transparent;
}
/*pegantion advance table*/

/* TABLES CONF*/
.dataTables_paginate.paging_bootstrap.pagination {
    float: left;
    margin-top: -5px;
    margin-bottom: 15px;
}

.dataTables_paginate {
    padding: 15px 0;
}
.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
ul li {
    list-style: none;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}
.dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a {
    color: #fff;
   background-color: #967adc;
  border-color: #967adc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

