
@font-face {
  font-family: 'Castile-Thin';
   src: url('/fonts/Castile-Thin.otf') ;
}
.dropdown-menu.extended {
max-width: 300px !important;
min-width: 160px !important;
top: 62px;
width: 280px !important;
height: 300px;
padding: 0;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
border: none !important;
border-radius: 4px;
-webkit-border-radius: 4px;
}

.dropdown-menu.extended img {
margin-left:72px
;margin-top: 6px;
border-style: solid;
border-color: black;
border-width: 2px;
margin-bottom: 10px;
}
.dropdown-menu.extended.tasks-bar a{
    font-size:14px;
     font-family:Droid Arabic Kufi,serif;
}
.dropdown-menu.extended.tasks-bar .name_profile li{
    font-size:19px;
    color: black;
     font-family:Droid Arabic Kufi,serif;
}
/*end */

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome */
.dropdown-menu.extended  {
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
};
}
.dropdown-menu.extended li p {
background-color: #F1F2F7;
color: #666666;
margin: 0;
padding: 10px;
border-radius: 4px 4px 0px 0px;
-webkit-border-radius: 4px 4px 0px 0px;
}
.dropdown-menu.extended li p.green {
background-color:#DDA0DD;
color: #fff;
}
.dropdown-menu.extended li p.yellow {
background-color:#DDA0DD;
color: #fff;
}
.dropdown-menu.extended li a {
border-bottom: 1px solid #EBEBEB !important;
font-size: 12px;
list-style: none;
}
.dropdown-menu.extended li a {
padding: 15px 10px !important;
width: 100%;
display: inline-block;
}
.dropdown-menu.extended li a:hover {
background-color: #F7F8F9 !important;
color: #2E2E2E;
}
.dropdown-menu.extended.logout > li {
float: left;
text-align: center;
width: 33.3%;
}
.dropdown-menu.extended.logout > li:last-child {
float: left;
text-align: center;
width: 100%;
background: #a9d96c;
border-radius: 0 0 3px 3px;
}
.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
color: #fff;
border-bottom: none !important;
text-transform: uppercase;
}
.dropdown-menu.extended.logout > li:last-child > a:hover > i{
color: #fff;
}
.dropdown-menu.extended.logout > li > a {
color: #a4abbb;
border-bottom: none !important;
}
.full-width .dropdown-menu.extended.logout > li > a:hover {
background: none !important;
color: #50c8ea !important;
}
.dropdown-menu.extended.logout > li > a:hover {
background: none !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
color: #50c8ea;
}
.dropdown-menu.extended.logout > li > a i {
font-size: 17px;
}
.dropdown-menu.extended.logout > li > a > i {
display: block;
}

.top-nav .dropdown-menu.extended.logout {
top: 50px;
}
#top_menu .nav > li, ul.top-menu > li {
float: right;
}
.notify-arrow {
border-style: solid;
border-width: 0 9px 9px;
height: 0;
margin-top: 0;
opacity: 0;
position: absolute;
left: 7px;
top: -18px;
transition: all 0.25s ease 0s;
width: 0;
z-index: 10;
margin-top: 10px;
opacity: 1;
}
.notify-arrow-green {
border-color: transparent transparent 	#DDA0DD;
border-bottom-color: 	#DDA0DD;!important;
border-top-color:  	#DDA0DD; !important;
}
.notify-arrow-yellow {
border-color: transparent transparent 	#DDA0DD;
border-bottom-color:	#DDA0DD; !important;
border-top-color: 	#DDA0DD; !important;
}
#top_menu .nav > li, ul.top-menu > li {
float: right;
}

/*******************************************************/
	.wrapper
	{
		position: relative;
	}

		.wrapper .title
		{
			position: absolute;
			top: 0;
			left: 50%;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			/*letter-spacing: 0.25em;*/
		

		}
		
		.wrapper .title:before
		{
			content: '';
			position: absolute;
			bottom: -38px;
			left: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
		}
		
		.wrapper .title:after
		{
			content: '';
			position: absolute;
			bottom: -38px;
			right: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
    	}

		/*.wrapper.style1
		{
			background: #e97770 url('images/overlay.png');
			color: #eee;
			color: rgba(255,255,255,0.75);
		}
		
			.wrapper.style1 .title
			{
				background: #bd689e url('images/overlay.png');
				color: #fff;
			}
		
			.wrapper.style1 h1,
			.wrapper.style1 h2,
			.wrapper.style1 h3,
			.wrapper.style1 h4,
			.wrapper.style1 h5,
			.wrapper.style1 h6,
			.wrapper.style1 strong,
			.wrapper.style1 b,
			.wrapper.style1 a
			{
				color: #fff;
			}
		
		.wrapper.style2
		{
			background: #fff;
		}
		
			.wrapper.style2 .title
			{
				background: #fff;
				color: #484d55;
			}
		*/
		.wrapper.style3
		{
			/*background: url('../images/banner2.jpg');*/
			background-color: #ececec;
		}
		
			.wrapper.style3 .title
			{background-color:  #ececec;
				/*background: url('../images/banner2.jpg');*/
				


			}
			.title h2{
				font-family: "Castile-Thin", serif;

				font-size: 30px;
font-weight: 600;
letter-spacing: 0.09em;
text-shadow: 4px 4px 4px #aaa;
/*color: #bd689e;*/
			}
			
			.wrapper.style3 .image
			{
				border: solid 10px #fff;
			}

	#header-wrapper
	{
		background: url('../images/banner6.jpg') center center;
		background-size: cover;
	}
	
		#header-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
		}




