.our-team2{
    text-align: center;
    transition: all 0.5s ease 0s;
   
    margin-bottom: 30px;
      width: 200px;
      /*margin-left: 300px;*/

    
}

.our-team2:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #fc791e;
    
    border-radius: 20px;



   
}

.our-team1{
    text-align: center;
    transition: all 0.5s ease 0s;
   
    margin-bottom: 30px;
      width: 130px;
      /*margin-left: 300px;*/

    
}

.our-team1:hover{
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #fc791e;
    
    border-radius: 20px;
}

.card .card-header
{
	color: black;
}
.natural img
{
  margin-bottom: 100px;
}
body 
{
    background-image: url('image/hist.jpg');
 /*ackground: skyblue;*/
    margin: 0 ;
    padding: 0;
   
    background-size: cover;
}
